---
import XpReact from "../../components/xp/XpReact";

import Select from "../../components/xp/select/Select";
console.log("SSR Page 🦆🦆🦆");
// http://localhost:3000/playground
---

<div>
  <h1>Wellcome to the Playgorund</h1>
  <!-- <XpReact client:visible/> -->
  <Select client:visible title="Rikooo1212">
    <div>Div1</div>
    <div>Div2</div>
    <div>Div3</div>
  </Select>
</div>
