---
import Wrapper from '../components/xp/step/Steps';
import Steps from '../components/xp/step/Steps';
import Layout from '../layouts/Layout.astro'
---
<>
  <Layout title="Rico Atro Nauth">
    <h1>Hello</h1>
  </Layout>
  <Wrapper client:visible></Wrapper>
</>
<style>
  h1 {
    color: purple;
  }
</style>
